<h2> <%= @mountain.name %></h2>
<% if @mountain.pic_url.present? %>
  <%= image_tag @mountain.pic_url, :alt => @mountain.name, :class => 'feature' %>
<% end %>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Continent</td>
      <td>Highest Peak</td>
      <td>Peak Height</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @mountain.name %></td>
      <td><%= @mountain.continent %></td>
      <td><%= @mountain.peak_name %></td>
      <td><%= @mountain.peak_height %></td>
    </tr>
  </tbody>
</table>

<div class="controls">
  <%= button_to 'Edit mountain', mountains_edit_path(@mountain.id) %>
  <%= button_to 'Delete mountain', mountain_path(@mountain.id), :method => 'delete' %>
</div>
