<h2><%= @ocean.name %></h2>

<% if @ocean.image.present? %>
  <%= image_tag @ocean.image, :alt => @ocean.name, :class => 'feature' %>
<% end %>

<table>

  <thead>
    <tr>
      <td>Name</td>
      <td>Surface Area (kms squared) </td>
      <td>Average Depth (metres)</td>
      <td>Water Volume (cubic kilometres)</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @ocean.name %></td>
      <td><%= number_to_human @ocean.area %></td>
      <td><%= number_to_human @ocean.depth %></td>
      <td><%= number_to_human @ocean.volume %></td>
    </tr>
  </tbody>

</table>

<div class="controls">
  <%= link_to 'Edit ocean', oceans_edit_path(@ocean.id) %>
  <%= button_to 'Delete ocean', ocean_path(@ocean.id), :method => 'delete' %>
</div>
