<h3>Edit Trainer</h3>

<form action="/trainers/<%= @trainer.id %>" method="post">
Name: <input type="text" name="name" value="<%= @trainer.name %>">
Image: <input type="url" name="image" value="<%= @trainer.image %>">
Pokemon: <select name="poke_id">
  <option></option>
  <% Poke.all.each do |poke| %> 
    <option value="<%= poke.id %>" <%="selected" if poke.id == @trainer.poke_id %>><%= poke.name %></option>
  <% end %>
</select>
<button>Submit</button>
</form>
