<div class="container">

<div class="item-show">
    <h2><%= @cheese.name %></h2>
    <h3>Type: <%= @cheese.age %>, <%= @cheese.firmness %></h3>
    <h3>Origin: <%= @cheese.origin %></h3>
    <% unless @cheese.wine.nil? %>
        <h3>
            Wine Pairing:
            <a href="/wines/<%= @cheese.wine.id %>"><%= @cheese.wine.variety %></a>
        </h3>
    <% end %>
    <% unless @cheese.image.nil? || @cheese.image.empty? %>
        <img class="feature" src=<%= @cheese.image %> alt=<%= @cheese.name %>>
    <% end %>
    <div class="controls">
        <a href="/cheeses/<%= @cheese.id %>/edit">Edit cheese</a>
        <a href="/cheeses/<%= @cheese.id %>/delete">Delete cheese</a>
    </div>
</div>
</div>