<h2>Edit Confectionery</h2>

<form method="post" action="/confectioneries/<%= @confectionery['id'] %>">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Confectionery name" value="<%= @confectionery['name'] %>"><BR/>
  <label>Description: </label>
  <input type="text" name="description" placeholder="Description" value="<%= @confectionery['description'] %>"><BR/>
  <label>Ingredients: </label>
  <input type="text" name="ingredients" placeholder="Ingredients" value="<%= @confectionery['ingredients'] %>"><BR/>
  <label>Image:</label>
  <input type="text" name="image" placeholder="http://..." value="<%= @confectionery['image'] %>"><BR/>

  <label>Category:</label>
  <select name="category_id">
    <option></option>
    <% Category.all.each do |category| %>
    <option value="<%= category.id %>" <%= "selected" if category.id == @confectionery.category_id %> ><%= category.name %></option>
    <% end %>
  </select><BR/>

  <button>Update confectionery</button>
</form>
