<h2>Edit an entry</h2>

<form action="/oceans/<%= @ocean.id %>" method="post">
  <label>Name:</label>
  <input type="text" name="ocean[name]" value="<%= @ocean.name %>" placeholder="e.g. Indian"><br>
  <label>Location:</label>
  <input type="text" name="ocean[location]" value="<%= @ocean.location %>" placeholder="e.g. Between..."><br>
  <label>% of Earth's surface:</label>
  <input type="float" name="ocean[surface_percent]" value="<%=  @ocean.surface_percent %>" placeholder="e.g. 37"><br>
  <label>Image:</label>
  <input type="url" name="ocean[image]" value="<%= @ocean.image %>" placeholder="http://..."><br>
  <button>Update</button>
</form>
