
<h1 id="pageheading">" <%= @book_title %> "</h1>

<img src="<%= @book_image_url %>"/>

<h3 class="subheadings">Authors: <%= @authors %> </h3>
<p id="date"><span class="strong">Published date:<BR/></span> <%= @publish_date %> </p>
<p><span class="strong">Description:<BR/></span> <%= @description %> </p>
