<h1><%=@movie.title%></h1>
<%= link_to image_tag(@movie.image, :alt => @movie.title, :class => 'feature'), @movie.image%>

<ul>
<li><%=@movie.title%></li>
<% if @movie.director.present?%>

<li><%=link_to @movie.director.name, @movie.director%></li>
<%end%>
<li><%=@movie.year%></li>
  <li><%=@movie.genre%></li>
  <li><%=@movie.duration%></li>
</ul>
<div class = "controls">
  <%= link_to 'Edit movie', edit_movie_path(@movie)%>
<%= link_to 'Delete movie', @movie, :method => 'delete', :data =>{:confirm =>'Are you sure?'}%>
</div>
