<!DOCTYPE html>
<html>
  <head>
    <title>Oceans of the World</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
    <nav>
      <%= link_to 'All Oceans', oceans_path %>
      <%= link_to 'New Ocean', oceans_new_path %>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
