<div class="artworks-show">
  <h2><%= @artwork.name %>, <%= @artwork.year %></h2>
  <% unless @artwork.artist.nil? %>
    <h3>
      <a href="/artists/<%= @artwork.artist.id %>"><%= @artwork.artist.name %></a>
    </h3>
  <% end %>

  <% unless @artwork.image.nil? || @artwork.image.empty? %>
    <img class="feature" src="<%= @artwork.image %>" alt="Image of <%= @artwork.name %>">
  <% else %>
    <div class="empty-artwork-image large">Image to come</div>
  <% end %>

  <nav class="controls">
    <ul>
      <a href="/artworks/<%=@artwork.id%>/edit">Edit</a>
      <a href="/artworks/<%=@artwork.id%>/delete">Delete</a>
    </ul>
  </nav>
</div>
