<h2>Edit your game!</h2>

<form action="/games/<%= @game.id %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="GTA V" value="<%= @game.name %>">
  <label>Company:</label>
  <input type="text" name="company" placeholder="Activision" value="<%= @game.company %>">
  <label>Year Released:</label>
  <input type="number" name="year" placeholder="2010" value="<%= @game.year %>">
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://..." value="<%= @game.image %>">
  <label>Available on:</label>
  <select name="console_id">
    <option></option>
    <% Console.all.each do |console| %>
    <option value="<%= console.id%>" <%= "selected" if console.id == @game.console_id %> ><%= console.name %></option>
    <% end %>
  </select>
  <button>Edit</button>
</form>
